
.mail-folder-list{

}

.mail-folder-list p{
    display: flex;
    justify-content: space-evenly;
    width: 202px;
    height: 32px;
    padding-inline: 26px 12px;
    border-radius: 0 18px 18px 0;
    margin: 0;
}

.mail-folder-list p span{
    margin-block: 6px;
    font-size: 14px;
}

.mail-folder-list p span:nth-child(1){
    width: 14px;
}

.mail-folder-list p span:nth-child(2){
    width: 95px;
}

.mail-folder-list p span:nth-child(3){
    width: 8px;
}

.mail-folder-list p:hover{
    background-color:  rgba(32, 33, 36, 0.137);
    cursor: pointer;
}