 /* mail list */

 .mail-list {
    width: 100%;
    margin-top: 1em;
 }

 .mail-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 1em;
    font-weight: 200;
    overflow: scroll;
    max-height: 80vh;
    border-radius: 1em;
 }

 li.mail {
    position: relative;
    display: flex;
    height: 40px;

    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.105);
    border-block-end: 0;

 }

 .mail-list h5 {
    height: 48px;
    background-color: var(--mail-unread-color);
    border-radius: 1em 1em 0 0;
    text-align: end;
    cursor: pointer;
 }

 li.mail:last-child {
    border-radius: 0 0 1em 1em;
    border-block-end: 1px solid rgba(128, 128, 128, 0.105);
 }

 li.mail.read {
    background-color: var(--mail-read-color);
 }

 li.mail.unread {
    background-color: var(--mail-unread-color);
 }

 /* li div:first-of-type{ 
  width: 65px ; 
 } */

 .mail-list li button {
    display: none;
    background: none;
    border: none;
 }

 .mail-list li:hover button {
    position: absolute;
    display: inline;
    cursor: pointer;
    padding: 6.5px 3px;
    inset-block-start: 3px;
    inset-inline-end: 35px;

    border-radius: 50%;
 }

 .mail-list li:hover button:nth-child(2) {
    inset-inline-end: 5px;
 }

 .mail-list li:hover button:hover {
    background-color: #00000010;
 }


 .mail-list .material-symbols-outlined {
    font-size: 18px;
 }

 .mail-list .material-symbols-outlined {
    text-align: center;
    width: 30px;
 }