.mail-sort{
    display: flex;
    justify-content: end;
}

.mail-sort p{
    display: flex;
    text-align: center;
    padding: .4em .8em;
    border-radius: 1.5em;
}
.mail-sort p.sort-by span.material-symbols-outlined{
    width: 20px;
}

.mail-sort p.on{
    background-color: var(--mail-hovered);
}