
.mail-main .mail-folders a {
    display: flex;
    align-items: center;
    width: 200px;
    height: 56px;
    padding-inline-end: 24px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;

    background-color: var(--mail-compose-color);
    border-radius: 1em;
    box-shadow: rgba(60, 64, 67, 0.15) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-inline-start: 8px;
    margin: 16px 0 16px 8px;
}


.mail-main .mail-folders a:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 3px 0px, rgba(60, 64, 67, 0.15) 0px 4px 8px 3px;
}

.mail-main .mail-folders a span {
    width: 62px;
}

.mail-folder-list p{
    display: grid;
    grid-auto-flow: column;
    width: 200px;
    height: 32px;
    padding-inline: 26px 12px;
    border-radius: 0 18px 18px 0;
    margin: 0;
}

.mail-folder-list p span{
    margin-block: 6px;
    font-size: 14px;
}

.mail-folder-list p span:nth-child(1){
    width: 14px;
}

.mail-folder-list p span:nth-child(2){
    width: 30px;
}

.mail-folder-list p span:nth-child(3){
    width: 8px;
}

.mail-folder-list p:hover{
    background-color:  rgba(32, 33, 36, 0.137);
    cursor: pointer;
}