/* Mobile Only */
@media (max-width: 640px) {
    .home h1 span {
        font-size: 20vw;
    }

    .mail-main {
        grid-template-columns: 10px 1fr 10px;
    }
    
    .mail-main:has(.wide) {
        grid-template-columns: 80px 1fr 10px;
    }
    

    .mail-filter {
        position: relative;
        margin-top: 1rem;
    }

    .mail-folders a {
        position: absolute;
        width: 108px;

        bottom: 20px;
        right: 1px;
        z-index: 2;
    }

    .mail-folders a span:last-child {
        display: inline;
    }

    .mail-folders .mail-folder-list {
        display: none;
    }

    .mail-folders.wide .mail-folder-list {
        display: block;
    }

    .mail-folders.wide .mail-folder-list p {
        grid-template-columns: 1fr;
        width: 32px;
        align-content: center;

        padding: 6px 4px;
        border-radius: 50%;
        margin: 1rem 28px;
        transition: all .3s
    }

    .mail-folders.wide .mail-folder-list p span {
        display: none;
    }

    .mail-folders.wide .mail-folder-list p span:first-of-type {
        display: inline;
    }

}

/* Desktop */
@media (min-width: 640px) {
    .home h1 span {
        font-size: 20vw;
    }

    .mail-main {
        grid-template-columns: 80px 1fr 10px;
    }

    .mail-main:has(.wide) {
        grid-template-columns: 256px 1fr 10px;
    }
    
    .mail-filter {
        position: absolute;
        width: calc(100vw - 460px);
        top: 8px;
        left: 256px;
    }

    .mail-folders a {
        width: 56px;
    }

    .mail-folders a span:last-child {
        display: none;
    }

    .mail-folders.wide .mail-folder-list p {
        grid-template-columns: 38px 1fr 30px;
        width: 240px;

        padding: 10px 12px 2px 26px;
        border-radius: 0 18px 18px 0;
        margin: 0;
    }

    .mail-folders .mail-folder-list p span {
        display: none;
    }

    .mail-folders .mail-folder-list p span:first-of-type {
        display: inline;
    }

    .mail-folders.wide .mail-folder-list p span {
        display: inline;
    }

}

/* Desktop */
@media (min-width: 900px) {
    .home h1 span {
        font-size: 180px;
    }

}