.note-add {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    position: relative;
}

.note-add form {
    display: flex;
    flex-direction: column;
}

.note-add-content {
    margin-bottom: 10px;
}

.note-add input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

.note-add textarea[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    border: none;
    background-color: transparent;
    font-family: Roboto, sans-serif;
}

.note-add input[type="text"]:focus {
    outline: none;
}

.note-add-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-type-buttons {
    display: flex;
    gap: 10px;
}

.note-type-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.save-button {
    padding: 8px 16px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #e8eaed;
}

.pin-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.pin-button.pinned {
    transform: rotate(45deg);
}

.add-color-picker-container {
    position: relative;
    display: inline-block;

}

.add-color-palette {
    position: absolute;
    top: -10px;
    left: 120px;
    transform: translateX(-50%);
    display: flex;
    background: none;
    border-radius: 8px;
    padding: 8px;
    z-index: 1000;
    margin-top: 8px;
}

.add-color-picker-container .add-color-option {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 4px;
    cursor: pointer;
    transition: transform 0.2s ease;
}