 .note-list-container {
     margin: 0 auto;
     padding: 20px;
 }

 .note-list {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(100px, 250px));
     grid-auto-flow: dense;
     gap: 10px;
     break-inside: avoid;
     overflow: hidden;
     padding: 60px;
     margin: 0 auto;
 }

 .note-list li {
     /* min-width: 240px; */
     /* min-height: 120px; */
     border-radius: 8px;
     overflow: hidden;
     position: relative;
     object-fit: cover;
     transition: box-shadow 0.3s ease, transform 0.2s ease;

 }

 .note-actions {
     position: absolute;
     bottom: 8px;
     left: 8px;
     opacity: 0;
     visibility: hidden;
     transition: opacity 0.2s ease, visibility 0.2s ease;
 }

 .note-list li:hover .note-actions {
     opacity: 1;
     visibility: visible;
 }




 .note-actions button {
     background: transparent;
     border: none;
     cursor: pointer;
     padding: 4px;
     margin-right: 8px;
 }

 .pin-btn {
     position: absolute;
     top: 8px;
     right: 8px;
     background: transparent;
     border: none;
     cursor: pointer;
     opacity: 0;
     visibility: hidden;
     transition: opacity 0.2s ease, visibility 0.2s ease, color 0.2s ease;
 }

 .note-list li:hover .pin-btn {
     opacity: 1;
     visibility: visible;
 }