.note-preview {
    display: grid;
    grid-template-rows: 20px auto 50px;
    gap: 8px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    max-width: 250px;
    overflow: hidden;
    padding: 8px;
    position: relative;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

}

.note-title {
    font-size: 1.2em;
    text-align: left;
    padding: 5px;
}

.note-content {
    display: flex;
    justify-content: left;
    align-items: first baseline;
}

.note-text {
    font-size: 1em;
    color: #333;
    text-align: center;
    margin-left: 5px;
}

.note-preview img,
.note-preview video {
    overflow-clip-margin: content-box;
    overflow: clip;
    max-width: 100%;
    margin-top: 10px;
    border-radius: 8px;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.todo-list li.done span {
    text-decoration: line-through;
    color: #888;
}

.todo-list input[type="checkbox"] {
    margin-right: 10px;
}

.color-option {
    width: 14px;
    height: 14px;
    margin: 0 2px;
    border-radius: 50%;
    border: 1px solid black;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.note-list li:hover .palette-btn {
    opacity: 1;
    visibility: visible;
}

.palette-btn {
    transform: scale(0.8);
    position: absolute;
    bottom: 10px;
    right: 8px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    opacity: 0.5;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.2s ease,
        visibility 0.2s ease;
}

.color-palette {
    position: absolute;

    right: 17px;

}