.note-preview {
    display: grid;
    grid-template-rows: 20px 1fr 50px;
    grid-template-columns: 1fr;
    gap: 8px;
    border-radius: 8px;
    max-width: 250px;
    overflow: hidden;
    padding: 8px;
}

.note-title {
    font-size: 1.2em;
    text-align: left;
    padding: 5px;
}

.note-content {
    display: flex;
    justify-content: left;
    align-items: first baseline;
}

.note-text {
    font-size: 1em;
    color: #333;
    text-align: center;
}

.note-preview img,
.note-preview video {
    max-width: 80%;
    margin: 5px 5px 0px 20px;
    border-radius: 8px;

}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.todo-list li.done span {
    text-decoration: line-through;
    color: #888;
}

.todo-list input[type="checkbox"] {
    margin-right: 10px;
}