.mail-details .top-btns{
    display: flex;
    justify-content: start;
    align-items: center;
}

.mail-details button:not(aside button), .top-btns a {
    background: none;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 0;
    border-radius: 50%;
}

.mail-details .top-btns a{
    padding-top: 8px;
}

.mail-details button img{
    width: 1.2em;
    height: 1.3em;
}

.mail-details button:hover , a:hover {
    background-color: var(--mail-hovered);
}

.mail-details h2{
    margin-block-start: 1em;
    margin-inline-start: 80px;
    font-size: 1.375em;
}
.mail-details .sub-header{
    display: flex;
    justify-content: space-between;
    font-size: .75em;
}
.mail-details .sub-header h5{
    display: flex;
    align-items: center;
}
.mail-details .sub-header h5 span p{
    font-size: .8rem;
    margin: 6px;
}
.mail-details .sub-header h5 span:not(.from-preview){
    font-size: 1rem;
}

.mail-details .sub-header p{
    display: flex;
    align-items: center;
}

.from-preview{
    display: block;
    width: 40px;
    height: 40px;

    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    padding-block: 6px;
    background-color: pink;
    margin-inline: 1em;
}

.mail-body{
    padding-block: 2em;
    border-bottom: 1px dotted var(--mail-read-color);
    margin-inline: 80px 32px ;
}

.mail-details aside {
    display: flex;
    gap: .5em;
    margin-inline-start: 1em;
}
.mail-details aside button {
    display: flex;
    align-items: center;
    gap: .6em;

    font-size: .8em;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    background-color: var(--mail-unread);

    padding: .4em 1em .4em .8em;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 1.5em;
    margin-block-start: .4em;
}


