/* Dark mode styles */
body:has(.dark-btn).dark-mode {
    background-color: #202124;
    color: #646464;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark .note-item {
    background-color: #3c3c3c;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.dark .note-add {
    background-color: #3c3c3c;

}

.dark-btn {
    border: none;
    background: none;

}