header {
    background: #a9d6e5;
    border-bottom: 2px solid white;
    color: white;
}

body:has(.mail-main) .app-header .logo{
    margin-inline-start: 50px;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border: 0;
}

.app-header .logo {
    display: block;
    height: 20px;
    cursor: pointer;
}

.app-header nav {
    display: flex;
    align-items: center;
}

.app-header nav a {
    margin: .5em;
    height: 20px;
}

.app-header nav a img {
    height: 16px;
}



.app-header nav a:active {
    color: #800080;
}

.app-header nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}